@import './variables';

@mixin mainSectionGrid {
  display: grid;
  grid-template-columns: 1.5in [start] 1fr [end] 1.5in;
}

@mixin articleGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%)
  }
}

@mixin mobile_display {
  @media (max-width: $mobile) {
    @content;
  }
}