  $primary-color: #272727;
  $accent-color: #ff652f;
  $text-color: #fff;
  $SASS-logo-color: hsl(331,50%,60%);
  $SASS-logo-light-color: hsl(331,50%,65%);
  $font-sizes: (
    "primary": 1.1rem,
    "header": 3rem,
    "title": 2rem,
  );

  $font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
  );
  $stroke: 0px 0px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;