/*===========RESETS===========*/
@import './resets';

/*===========VARIABLES===========*/
@import './variables';

/*===========MIXINS===========*/
@import './mixin';

/*===========FUNCTIONS===========*/

@import './functions';

/*===========LIGHT THEME===========*/
.light {
  @include theme($light-theme: true)
}

/*===========DARK THEME===========*/


/*===========BODY===========*/
html, body {
  min-height: 100%;
}

body {
  background-color: $primary-color;
  font-weight: weight(regular);
  color: $text-color;
  font-family: 'Montserrat';
}

/*===========WRAPPER===========*/

div.wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
}

/*===========HEADER===========*/
.header {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;

  &__title {
    font-family: 'Lobster';
    font-size: font-size(page-header);
    color: $SASS-logo-color;
    text-align: center;
    text-shadow: $stroke;

    &:hover {
      color: $SASS-logo-light-color;
    }
  }
}

/*===========MAIN===========*/
.main {
  @include mainSectionGrid;
  margin-bottom: 20px;
  
  #{&}__article {
    grid-column: start / end;
    // @include articleGrid;
  }

  #{&}__article__title {
    text-align: center;
    font-size: font-size(article-title);
    margin-bottom: 20px;
  }

  #{&}__article__p {
    font-size: font-size(primary);
    grid-column: span 1;
    word-break: break-word;
    hyphens: auto;
    line-height: 25px;
  }

  #{&}__article__img {
    max-height: image-height(medium);
    border-radius: 5px;
  }
}

/*===========IMAGE ID's===========*/
#giant_thottie {
  float: left;
  margin-right: 20px;
  border: 1px solid $accent-color;
}

/*===========FOOTER===========*/
footer {
  background-color: white;
  color: black;
  text-align: center;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;

  p {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
  }
}

/*===========MEDIA QUERIES===========*/

@import './mediaQ';