/*===========RESETS===========*/
@import './resets';

/*===========VARIABLES===========*/
@import './variables';

/*===========BODY===========*/
body {
  background-color: $primary-color;
  font-weight: map-get($font-weights,  regular);
  color: $text-color;
  font-family: 'Montserrat';
}

/*===========HEADER===========*/
header {
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;

  h1 {
    font-family: 'Lobster';
    font-size: 4rem;
    color: $SASS-logo-color;
    text-align: center;
    text-shadow: $stroke;

    &:hover {
      color: $SASS-logo-light-color;
    }
  }
}
/*===========MAIN===========*/
.main {
  display: grid;
  grid-template-columns: 1.5in [start] 1fr [end] 1.5in;

  #{&}__article {
    grid-column: start / end;
  }

  #{&}__article__title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }

  #{&}__article__p {
    font-size: 1rem;
  }
}